- @custom_head = '<meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />'

<script type="text/javascript" src="//use.typekit.net/wts2npf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


<h1>CONNECT <span style="color:#0f0">JAMSESH</span> TO YOUR FOURSQUARE!!!</h1>

<a href='#{new_foursquare_client_path}'><img style='margin-left:auto;margin-right:auto;width:300px;' src='https://playfoursquare.s3.amazonaws.com/press/logo/connect-white@2x.png' /></a>
