#queue
= javascript_tag 'window.rootpagething = true;'
<div id="player" width="100%" height="100%">
</div>
<!--#player-->
<script type="text/javascript" src="//use.typekit.net/wts2npf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>