// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color:black;
}
#player{
	padding:0;
	margin:0;
	position:fixed;
	top:0;
	width:100%;
	height:100%;
}
#queue{
	font-size:16px;
	padding:25px;
	background-color: rgba(250, 250, 250, 0.7);
	width:10%;
	position:fixed;
	left:0px;
	z-index:1;
}
.thumbnail{
	width:100%;
}
.caption{
	width:100%;
}