body {
  background-image: image-url('Wave.png');
  background-size: cover;
}

h1 {
  color: #fff;
  font-family: "futura-pt";
  font-size:36px;
  line-height: 1.3em;
  text-align: center;
  text-shadow: 0 4px 0 #000;
}